.App {
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#by {
    color: white;
    word-spacing: normal;
}
#by a {
    text-decoration: none;
    color: white;
}